body{
    color:red;
}
h1{
    color:blue;
}
.description{
    color:green;
}
#short-note{
    color:cyan;
}
a:link{
    background-color:lightgreen;
}
a:hover{
    color:blue;
    background-color:hotpink;
    text-decoration:none;
}
a:visited{
    color:green;
    background-color:cyan;
}